<div class="col-md-3 col-md-offset-4">
  <div class="well">


<%= form_for :user, url: users_path, html:{class: 'form-horizontal'}  do |f| %>
  <div class="form-group">
    <div class="field">
      <div class="col-md-12">
        <%= f.text_field :担当者コード, class: 'form-control', placeholder: 'user name' %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="field">
      <div class="col-md-12">
        <%= f.password_field :パスワード, class: 'form-control', placeholder: 'password' %>
      </div>
    </div>
  </div>

  <!--<div class="form-group">-->
    <!--<div class="col-md-5 col-md-offset-2">-->
      <!--<span id="notice"><%# flash[:notice] %></span>-->
    <!--</div>-->
  <!--</div>-->
  
  <div class="form-group">
    <div class="col-md-12">
      <%= f.submit 'Sign in', class: 'btn btn-primary' %>
    </div>
  </div>

<% end %>
    <div class="col-md-7 col-md-offset-6">
        <%= link_to 'Create account', new_user_path %>
    </div>

  </div>
</div>