<%= javascript_include_tag "lib/m001in.js" %>

<%= title @page_title %>


<ol class="breadcrumb">
  <li><%= link_to 'メニュー', controller: 'main001', action: 'index' %></li>    
  <li><a href="#">基準情報</a></li>
  <li><a href="#">セキュリティ管理</a></li>
  <li class="active">担当者</li>
</ol>

<form class="form-horizontal" action="index" method="post" role="form">
	<%= render 'header' %>
	<%= render 'main' %>
	<%= render 'edit' %>
</form>