<%= javascript_include_tag 'tree' %>
<ol class="breadcrumb">
  <li><%= link_to 'メニュー', main_path %></li>
  <!-- <li><a href="#">基準情報</a></li> -->
  <!-- <li><a href="#">セキュリティ管理</a></li> -->
  <li class="active">Multiselect</li>
</ol>

<h1>マルティセレクト（複数選択）</h1>
<%= form_for :employer, remote: true do |f| %>
<div class="col-md-3 col-md-offset-2"> </div>
<div class="btn-group" role="group" aria-label="...">
  <button id="add_new_employer" type="button" class="btn btn-default">　
  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>　
  </button>
  <button type="submit" class="btn btn-default">　
    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>　
  </button>
</div>


<table id="multiselect_table" class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
  <thead>
  <tr>
    <th></th>
    <th>Name</th>
    <th>Position</th>
    <th>Office</th>
    <th>Age</th>
    <th>Start date</th>
    <th>Salary</th>
  </tr>
  </thead>

  <tfoot>
  <tr>
    <th></th>
    <th>Name</th>
    <th>Position</th>
    <th>Office</th>
    <th>Age</th>
    <th>Start date</th>
    <th>Salary</th>
  </tr>
  </tfoot>

  <tbody>
  <% @employers.each do |employwer| %>
  <tr>
    <th><%= check_box_tag "delete[#{employwer.id}]", 1 %></th>
    <td><a href="" > <%= employwer.first_name %></a></td>
    <td><%= employwer.position %></td>
    <td><%= employwer.office %></td>
    <td><%= employwer.age %></td>
    <td><%= employwer.start_date %></td>
    <td><%= employwer.salary %></td>
  </tr>
  <% end %>
  </tbody>
</table>
<% end %>


<%# link_to 'New Person', '#new_person_modal', 'data-toggle' => 'modal' %>

<%# Bootstrap modal markup. @see: http://getbootstrap.com/javascript/#modals %>
<div class="modal fade" id="new_employer_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Create new person</h4>
      </div>
      <div class="modal-body">
        <%# Render the new person form (passing modal => true to enable remote => true) %>
         <%# render 'form', modal: true %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>