<p id="notice"><%= notice %></p>

<p>
  <strong>担当者コード：</strong>
  <%= @tantosha.tanto_code %>
</p>

<p>
  <strong>担当者名称：</strong>
  <%= @tantosha.tanto_name %>
</p>

<p>
  <strong>担当者パスワード：</strong>
  <%= @tantosha.password %>
</p>

<%= link_to '編 集', edit_tantosha_path(@tantosha) %> |
<%= link_to '戻 る', tantoshas_path %>
